body {
    font-family: Arial, sans-serif;
    background-color: #580be7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    flex: 1;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#profileDetails {
    display: none;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
}

#updateBtn, #deleteBtn {
    margin-top: 10px;
}
